*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: rgb(18, 41, 62);
  background: linear-gradient(300deg, rgb(13, 56, 94) 0%, rgb(5, 24, 62) 60%, rgb(0, 3, 21) 100%);
  color: bisque;
  caret-color: transparent;
}

.main-content {
  min-height: 85vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

input {
  caret-color: rgb(69, 69, 69);
}