@import './base.scss';
@import './cmps/box-display.scss';

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-weight: normal;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(auto, 1400px) minmax(30px, 1fr);

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 / -1;
    }
  }

}